@use "variables" as *;
@use "mixins" as *;


*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    // font-family: $font-main;
    font-size: 12.8px;
    @include flex-center;
    overflow-x: hidden;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    box-shadow: $shadow-default;
}
