@font-face {
    font-family: "MTD-ESTHER";
    src: url("../../assets/fonts/MTD-ESTHER.OTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ENGR";
    src: url("../../assets/fonts/ENGR.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../fonts/SVN-Gotham.woff2') format('woff2'),
        url('../fonts/SVN-Gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamLight';
    src: url('../fonts/SVN-GothamLight.woff2') format('woff2'),
        url('../fonts/SVN-GothamLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
